@page
@model ProiectBD.Pages.Animale.CreateModel
@{
}

<br />
<h2>Animal nou</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.errorMessage</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}

<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">ID Animal</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="id" value="@Model.animalInfo.id" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Specie</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="specie" value="@Model.animalInfo.specie" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Rasa</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="rasa" value="@Model.animalInfo.rasa" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Varsta</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="varsta" value="@Model.animalInfo.varsta" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Sex</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="sex" value="@Model.animalInfo.sex" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Pret</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="pret" value="@Model.animalInfo.pret" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Stoc Disponibil</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="stoc" value="@Model.animalInfo.stoc" />
        </div>
    </div>

    @if(Model.successMessage.Length > 0)
    {<div class="row mb-3">
        <div class="col-sm-9">
            <div class='alert alert-success alert-dismissible fade show' role='alert'>
                <strong>@Model.successMessage</strong>
                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
        </div>
     </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>

        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Animale/Animale" role="button">Cancel</a>
        </div>
    </div>
</form>
