@page
@model ProiectBD.Pages.Animale.InformatiiModel
@{
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<br />
<h2>Informatii aditionale</h2>
<br />
<form method="post">
    <div style="padding:20px;display:flex;margin:2%;align-items:flex-start">
        <h3>Cate animale sunt in fiecare comanda?</h3>

        <div class="row mb-3">
            <div class="offset-sm-3 col-sm-3 d-grid">
                <button style="border-radius:10%;text-align:center" value="actiune1" name="actiune" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</form>

@if (Model.interogare1 != null && Model.interogare1.Count > 0)
{
    <table class="table" style="justify-content:center">
        <thead>
            <tr>
                <th>ID Comanda</th>
                <th>Nume client</th>
                <th>Prenume client</th>
                <th>Numar animale</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.interogare1)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.nume</td>
                    <td>@item.prenume</td>
                    <td>@item.nr</td>
                </tr>
            }
        </tbody>
    </table>
}
<form method="post">
    <div style="padding:20px;display:flex;margin:2%;align-items:flex-start">
        <h3>Care este animalul cel mai des achizitionat?</h3>

        <div class="row mb-3">
            <div class="offset-sm-3 col-sm-3 d-grid">
                <button style="border-radius:10%;text-align:center" value="actiune2" name="actiune" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</form>

@if (Model.interogare2 != null && Model.interogare2.Count > 0)
{
    <table class="table" style="justify-content:center">
        <thead>
            <tr>
                <th>ID animal</th>
                <th>Specie</th>
                <th>Rasa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.interogare2)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.specie</td>
                    <td>@item.rasa</td>
                </tr>
            }
        </tbody>
    </table>
}
<form method="post">
    <div style="padding:20px;display:flex;margin:2%;align-items:flex-start">
        <h3>Animalele comandate pana acum, si de cate ori</h3>

        <div class="row mb-3">
            <div class="offset-sm-3 col-sm-3 d-grid">
                <button style="border-radius:10%;text-align:center" value="actiune3" name="actiune" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</form>

@if (Model.interogare3 != null && Model.interogare3.Count > 0)
{
    <table class="table" style="justify-content:center">
        <thead>
            <tr>
                <th>ID animal</th>
                <th>Specie</th>
                <th>Rasa</th>
                <th>Numar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.interogare3)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.specie</td>
                    <td>@item.rasa</td>
                    <td>@item.nr</td>
                </tr>
            }
        </tbody>
    </table>
}
<a class="btn btn-primary btn-sm" href="/Meniu/Meniu">Inapoi la Meniu</a>
