@page
@model ProiectBD.Pages.Clienti.ClientiModel
@{
}
<br />
<h2>Lista Clienti</h2>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>ID Client</th>
            <th>Nume</th>
            <th>Prenume</th>
            <th>Numar de telefon</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listClienti)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.nume</td>
                <td>@item.prenume</td>
                <td>@item.nrTelefon</td>
                <td>@item.email</td>
            </tr>
        }
    </tbody>
</table>
<br />
<a class="btn btn-primary btn-sm" href="/Meniu/Meniu">Inapoi la Meniu</a>
<a class="btn btn-primary btn-sm" href="/Clienti/Informatii">Informatii aditionale</a>
